@model string

<div
	x-data='{
		buttonSpinner_properties: {
			isLoading: false,
			size: null,
			color: null,
		}
	}'
	x-init='
		$nextTick(() => {
			if(!buttonSpinner_properties.size) {
				buttonSpinner_properties.size = "size-4"
			}

			if(!buttonSpinner_properties.color) {
				buttonSpinner_properties.color = "text-white"
			}
		})
	'
	x-show='buttonSpinner_properties.isLoading'
	x-modelable='buttonSpinner_properties'
	x-model='@Model'
	:class='`animate-spin rounded-full border-2 border-current border-t-transparent inline-block text-gray-200 ${buttonSpinner_properties.size} ${buttonSpinner_properties.color}`'
	style='display: none'
>
	<span class='sr-only'>Loading...</span>
</div>