@model ButtonSpinnerModel

<div
	x-data='{
		buttonSpinner_isLoading: false
	}'
	x-show='buttonSpinner_isLoading'
	x-modelable='buttonSpinner_isLoading'
	x-model='@Model.IsLoadingModel'
	class='animate-spin rounded-full border-2 border-current border-t-transparent inline-block text-gray-200 @Model.Color @Model.Size'
	style='display: none'
>
	<span class='sr-only'>Loading...</span>
</div>