<template
	x-data='{ 
		error_modal_show: false,
		error_modal_message: "Unfortunately we have an issue with your payment, try again later." 
	}'
	x-teleport='body'
>
	<div
		x-show='error_modal_show'
		x-transition.opacity.duration.300ms
		x-on:keyup.escape.window.prevent=
		'
			$dispatch("hide_error_modal")
		'
		x-on:show_error_modal.window=
		'
			error_modal_show = true
			error_modal_message = $event.detail.error
		'
		x-on:hide_error_modal.window=
		'
			error_modal_show = false
		'
		class='fixed z-50 inset-0 backdrop-blur-sm bg-black/80'
	>
		<div
			x-show='error_modal_show'
			x-transition.opacity.scale.50.duration.300ms
			class='flex justify-center items-center min-h-full'
		>
			<div
				x-on:click.outside=
				'
					$dispatch("hide_error_modal")
				'
				class='rounded flex flex-col items-center w-full max-w-md bg-white'
			>
				<div class='flex flex-col items-center gap-3 p-8'>
					<div class='rounded-full flex justify-center items-center size-20 bg-red-400 text-4xl text-white'>
						?
					</div>
					<h2 class='text-2xl text-red-400 font-semibold'>
						Error
					</h2>
					<p
						x-text='error_modal_message'
						class='text-center text-gray-500'
					>
					</p>
				</div>
				<button
					x-on:click=
					'
						$dispatch("hide_error_modal")
					'
					class='rounded-b w-full bg-red-400 py-3 text-white font-light'
				>
					Continue
				</button>
			</div>
		</div>
	</div>
</template>