@{
#if DEBUG
var isDebug = true;
#else
	var isDebug = false;
#endif
}

<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>@ViewData["Title"] - ASP.NET_Core_HTMX</title>

	@if (isDebug)
	{
		<script src='https://cdn.tailwindcss.com'></script>
		<style type='text/tailwindcss'>
			@Html.Raw(File.ReadAllText("Input.css"))
		</style>
	}

	<link rel='stylesheet' href='~/css/tailwind.css' asp-append-version='true'>

	<!-- 2.0.4 -->
	<script src='~/js/htmx.js'></script>

	<!-- 3.14.8 -->
	<script src='~/js/alpine.js' defer></script>

	<script src='~/js/signalr/dist/browser/signalr.js'></script>

	<script>
		htmx.config.defaultSwapStyle = 'outerHTML'
		htmx.config.scrollBehavior = 'smooth'
		htmx.config.refreshOnHistoryMiss = true
	</script>

	@RenderSection("Head", required: false)

	<script>
		function buildSignalRConnection(url) {
			// 
			const connection = new signalR.HubConnectionBuilder()
				.withUrl(url)
				.withAutomaticReconnect({
					nextRetryDelayInMilliseconds() {
						return 1000
					}
				})
				.build()

			return connection
		}
	</script>
</head>

<body hx-history='false'
	  hx-target='#wrapper'
	  hx-select='#wrapper'
	  x-data='{ layout_isLoading: false }'
	  x-on:htmx:before-request='layout_isLoading = true'
	  x-on:htmx:after-request='layout_isLoading = false'>

	<partial name='_ErrorModal' />

	<div id='wrapper'>
		@RenderBody()
		@await RenderSectionAsync("Scripts", required: false)
	</div>
</body>

</html>
