@{
#if DEBUG
var isDebug = true;
#else
	var isDebug = false;
#endif
}

<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>@ViewData["Title"] - ASP.NET_Core_HTMX</title>

	<link rel='stylesheet' href='~/css/tailwind.css' asp-append-version='true'>

	<!-- 2.0.4 -->
	<script src='~/js/htmx.js'></script>

	<!-- 3.14.8 -->
	<script src='~/js/alpine.js' defer></script>

	<script>
		document.addEventListener('alpine:init', () => {
			Alpine.directive('opacity', (el, { expression }, { evaluateLater, effect }) => {
				effect(() => {
					evaluateLater(expression)(value => {
						el.style.opacity = value ? '1' : '0'
					})
				})
			})
		})
	</script>

	<script src='~/js/signalr/dist/browser/signalr.js'></script>

	<script>
		htmx.config.defaultSwapStyle = 'outerHTML'
		htmx.config.scrollBehavior = 'smooth'
		htmx.config.refreshOnHistoryMiss = true
		htmx.config.disableInheritance = true

		layout_refreshTheme()

		window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', layout_refreshTheme)

		// Sets theme from localStorage or media if localStorage doesn't contain theme.
		function layout_refreshTheme()
		{
			const changeTheme = () => theme
			{
				if(theme === 'dark')
				{
					document.documentElement.classList.add('dark')
					console.log('Theme changed to dark')
				}
				else if(theme === 'light')
				{
					document.documentElement.classList.remove('dark')
					console.log('Theme changed to light')
				}
				else if(theme === 'system')
				{
					document.documentElement.classList.remove('dark')
					console.log('Theme changed to system')
				}
			}

			if(localStorage.theme === 'dark')
			{
				changeTheme('dark')
			}
			else if(localStorage.theme === 'light')
			{
				changeTheme('light')
			}
			else if(!localStorage.theme)
			{
				if(window.matchMedia('(prefers-color-scheme: dark)').matches)
				{
					changeTheme('dark')
				}
				else
				{
					changeTheme('light')
				}
			}
		}

		// Saves the theme to localStroge and calls layout_refreshTheme.
		function layout_changeTheme(theme)
		{
			if(theme === 'dark' || theme === 'light')
			{
					localStorage.theme = theme
			}
			else if(theme === 'system')
			{
				delete localStorage.theme
			}
			else
			{
				throw new Error(theme + ' is not supported as a theme.')
			}

			layout_refreshTheme()
		}
	</script>

	<link rel='preload' href='~/fonts/Roboto-VariableFont_wdth,wght.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Regular.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Medium.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-SemiBold.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Bold.ttf' as='font' type='font/ttf' crossorigin>

	@RenderSection("Head", required: false)

	<script>
		function buildSignalRConnection(url) {
			// 
			const connection = new signalR.HubConnectionBuilder()
				.withUrl(url)
				.withAutomaticReconnect({
					nextRetryDelayInMilliseconds() {
						return 1000
					}
				})
				.build()

			return connection
		}
	</script>
</head>

<body
	x-data
	hx-history='false'
>
	<div id='wrapper'>
		@RenderBody()
		@await RenderSectionAsync("Scripts", required: false)
	</div>
	<partial name='_ErrorModal' />
	@if(isDebug)
	{
		<div
			x-data=
			'
				{
					debugRing_toggle: JSON.parse(localStorage.debugRingToggle ?? "true"),
				}
			'
			x-init=
			'
				$watch("debugRing_toggle", value =>
				{
					localStorage.debugRingToggle = value
					document.body.classList.toggle("debug-off")
				})

				if(localStorage.debugRingToggle === "false")
				{
					document.body.classList.toggle("debug-off")
				}
			'
			x-on:keyup.insert.window=
			'
				debugRing_toggle = !debugRing_toggle
			'
			class='hidden'
		></div>
	}
</body>

</html>