@{
#if DEBUG
var isDebug = true;
#else
	var isDebug = false;
#endif
}

<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>@ViewData["Title"] - ASP.NET_Core_HTMX</title>

	<link rel='stylesheet' href='~/css/tailwind.css' asp-append-version='true'>

	<!-- 2.0.4 -->
	<script src='~/js/htmx.js'></script>

	<!-- 3.14.8 -->
	<script src='~/js/alpine.js' defer></script>

	<script src='~/js/signalr/dist/browser/signalr.js'></script>

	<script>
		htmx.config.defaultSwapStyle = 'outerHTML'
		htmx.config.scrollBehavior = 'smooth'
		htmx.config.refreshOnHistoryMiss = true
		htmx.config.disableInheritance = true
	</script>

	<link rel='preload' href='~/fonts/Roboto-VariableFont_wdth,wght.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Regular.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Medium.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-SemiBold.ttf' as='font' type='font/ttf' crossorigin>
	<link rel='preload' href='~/fonts/Poppins-Bold.ttf' as='font' type='font/ttf' crossorigin>

	@RenderSection("Head", required: false)

	<script>
		function buildSignalRConnection(url) {
			// 
			const connection = new signalR.HubConnectionBuilder()
				.withUrl(url)
				.withAutomaticReconnect({
					nextRetryDelayInMilliseconds() {
						return 1000
					}
				})
				.build()

			return connection
		}
	</script>
</head>

<body
	hx-history='false'
	class='debug-body'
>
	<div id='wrapper'>
		@RenderBody()
		@await RenderSectionAsync("Scripts", required: false)
	</div>
	<partial name='_ErrorModal' />
	@if(isDebug)
	{
		<div
			x-on:keyup.insert.window=
			'
				let rings = document.querySelectorAll(".debug-ring")
    for(let i = 0; i < rings.length; i++)
				{
					rings[i].classList.toggle("debug-off")
    }
			'
			class='hidden'
		></div>
	}
</body>

</html>