<!DOCTYPE html>
<!-- Main application layout -->
<html lang="en" class="h-full bg-white">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Site Title -->
	<title>@ViewData["Title"] - ASP.NET_Core_HTMX</title>

	<!-- Styles -->
	<link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true">

	<!-- Scripts Section -->
	<!-- 
		Includes:
		- SignalR
		- jQuery
		- HTMX core
		- HTMX preload extension
	-->
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx-ext-preload@2.0.1/preload.js"></script>

	<!-- HTMX Configuration -->
	<script>
		htmx.config.defaultSwapStyle = 'outerHTML';
		htmx.config.globalViewTransitions = true;
		htmx.config.scrollBehavior = 'smooth';
		htmx.config.refreshOnHistoryMiss = true;
	</script>

	@RenderSection("Head", required: false)
</head>

<!-- Main Content -->

<body class='h-full'>
	<!-- Primary content section -->
	@RenderBody()

	<!-- Scripts partial -->
	@await RenderSectionAsync("Scripts", required: false)

	<!-- SignalR Configuration -->
	<script>
		var connection = new signalR.HubConnectionBuilder()
			.withUrl("/ChatHub")
			.build();

		connection.start();

		connection.on('ReceiveMessage', function (user, message) {
			console.log(user, message);
		});
	</script>
</body>

</html>
