@{
#if DEBUG
var isDebug = true;
#else
	var isDebug = false;
#endif
}

<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>@ViewData["Title"] - ASP.NET_Core_HTMX</title>

	@if (isDebug)
	{
		<script src='https://cdn.tailwindcss.com'></script>
		<style type='text/tailwindcss'>
			@Html.Raw(File.ReadAllText("Input.css"))
				</style>
	}

	<link rel='stylesheet' href='~/css/tailwind.css' asp-append-version='true'>
	<script src='https://unpkg.com/htmx.org@2.0.4' integrity='sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+' crossorigin='anonymous'></script>
	<script defer src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'></script>
	<script src='~/js/signalr/dist/browser/signalr.js'></script>

	@* <script src='https://unpkg.com/htmx-ext-preload@2.0.1/preload.js'></script>
	<script src='https://code.jquery.com/jquery-3.7.1.min.js' integrity='sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=' crossorigin='anonymous'></script> *@

	<script>
		htmx.config.defaultSwapStyle = 'outerHTML'
		htmx.config.scrollBehavior = 'smooth'
		htmx.config.refreshOnHistoryMiss = true
		htmx.config.disableInheritance = true
	</script>

	@RenderSection("Head", required: false)

	<script>
		class ForeverRetryPolicy {
			nextRetryDelayInMilliseconds() {
				return 1000;
			}
		}

		const connection = new signalR.HubConnectionBuilder()
			.withUrl('/ChatHub')
			.withAutomaticReconnect(new ForeverRetryPolicy())
			.build()
	</script>
</head>

<body>
	@RenderBody()
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
