@tailwind base;
@layer base {
	img {
			max-width: none;
	}
}
@tailwind components;
@tailwind utilities;

.debug-ring {
	@apply ring ring-red-600 ring-inset;
}
.debug-off .debug-ring {
	@apply !ring-0 !ring-transparent;
}

.field-validation-error {
	@apply mt-1 text-sm text-red-600;
}

.validation-summary-errors {
  @apply rounded-md border border-red-300 w-full bg-red-50 px-4 py-3 text-sm text-red-800 leading-relaxed;
}

.validation-summary-errors ul {
  @apply m-0 list-disc list-inside p-0;
}

.validation-summary-errors li {
  @apply mb-1;
}

.validation-summary-errors li:last-child {
  @apply mb-0;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 75% 100%;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}